body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 13pt;
	background: #efefef;
}

a {
	color: #525252;
}

div.license {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 80%;
}